fieldset.ui-controlgroup {
  margin: 0 0 15px; }
fieldset legend {
  background: #eee;
  border: 1px solid #999;
  padding: 3px 10px; }
fieldset .heading {
  margin: 15px 0 0; }
fieldset .group-2col .ui-select {
  width: 48%;
  display: inline-block; }

#calc-result label {
  display: inline-block;
  width: 48%; }
#calc-result label + .ui-input-text {
  display: inline-block;
  width: 49%; }
  #calc-result label + .ui-input-text input {
    text-align: right; }

#result-details {
  display: none; }
  #result-details.show {
    display: block; }
  #result-details table {
    width: 100%; }
    #result-details table tr td:nth-child(2) {
      width: 30px; }
    #result-details table tr td:nth-child(3) {
      width: 6em;
      text-align: right; }

#footer {
  padding: 20px 10px; }
  #footer #mailto-btn {
    margin-left: 15px; }

/*# sourceMappingURL=styles.css.map */
