
fieldset {

  &.ui-controlgroup {
    margin: 0 0 15px;
  }

  legend {
    background: #eee;
    border: 1px solid #999;
    padding: 3px 10px;
  }

  .heading {
    margin: 15px 0 0;
  }

  .group-2col {

    .ui-select {
      width: 48%;
      display: inline-block;
    }
  }
}

#calc-result {

  label {
    display: inline-block;
    width: 48%;
  }

  label + .ui-input-text {
    display: inline-block;
    width: 49%;
    
    input {
      text-align: right;
    }
  }
}


#result-details {
  display: none;

  &.show {
    display: block;
  }

  table {
    width: 100%;

    tr td:nth-child(1) {

    }

    tr td:nth-child(2) {
      width: 30px;
    }

    tr td:nth-child(3) {
      width: 6em;
      text-align: right;
    }
  }
}

#footer {
  padding: 20px 10px;

  > div {

  }

  #mailto-btn {
    margin-left: 15px;
  }
}
